<div class="content">
    <div class="container-fluid">
        <div class="card mb-0">
            <div class="card-header card-header-primary">
                <h3 class="card-title"><i class="material-icons mr-1">directions_car</i>{{serviceTitle}}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                </div>
            </div>
            <div class="col-md-12">
                <div class="places-buttons">
                    <div class="ml-auto row">
                        <div class="col-lg-2 offset-lg-2"><label class="text-dark">Search By</label></div>
                        <div class="col-lg-4 ">
                            <div class="form-group bmd-form-group">
                                <select [(ngModel)]="selectedDetails" (change)="selectedForm(selectedDetails)"
                                    class="form-control">
                                    <option [ngValue]="selected">Search by</option>
                                    <option value="1">Cid Number</option>
                                    <option value="2">Learner License Number</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="showCidForm" class="ml-auto row">
                        <div class="col-lg-2 offset-lg-2"><label class="text-dark">Cid Number</label></div>
                        <div class="col-lg-4 text-center">
                            <div class="form-group bmd-form-group">
                                <input maxlength="11" (keypress)="keyPressNumbers($event)" placeholder="CID Number"
                                    [(ngModel)]="cidNumber" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-primary btn-tips">?
                                <div class="ripple-container"></div></button>
                        </div>
                    </div>

                    <div *ngIf="showLearnerLicenseNoForm" class="ml-auto row">
                        <div class="col-lg-2 offset-lg-2"><label class="text-dark">Learner License Number</label>
                        </div>
                        <div class="col-lg-4 text-center">
                            <div class="input-group form-group bmd-form-group">
                                <select [(ngModel)]="ll_initial" class="form-control col-sm-2">
                                    <option [ngValue]="selected">Select Prefix</option>
                                    <option value="T">T/LL</option>
                                    <option value="P">P/LL</option>
                                    <option value="G">G/LL</option>
                                    <option value="S">S/LL</option>
                                    <option value="M">M/LL</option>
                                    <option value="PD">PD/LL</option>
                                </select>

                                <div class="col-sm-1">
                                    <p style="text-align: center;">-</p>
                                </div>

                                <input [(ngModel)]="ll_number" placeholder="Learner License Number"
                                    (keypress)="keyPressNumbers($event)" type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-sm-7 offset-3 offset-lg-4">
                            <button (click)="learnerLicenseDetails()" class="btn btn-block btn-primary"
                                type="submit">Search<div class="ripple-container">
                                </div>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- driving license renewal form -->
        <div class="row" *ngIf="showLearnerLicenseRenewal">
            <div class="card col-lg-7 mr-auto">
                <div class="card-header card-header-primary p-1">
                    <h4 class="card-title"><i class="material-icons mr-1">directions_car</i>Learner License Details</h4>
                </div>
                <div class="col-md-12">
                    <div class="places-buttons">

                        <div class="mb-3 ml-auto row">
                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">Learner License
                                    Number:</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <label class="text-dark"> {{learnerLicenseNumber}}</label>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">Customer Name:</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <label class="text-dark"> {{firstName}} {{middleName}} {{lastName}}</label>
                            </div>
                        </div>

                        <div class="mb-3 ml-auto row">
                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">Expiry Date:</label></div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <label class="text-dark">{{expiryDate}}</label>
                            </div>
                        </div>

                        <div class="mb-3 ml-auto row">

                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">Renewal Duration:</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <select [(ngModel)]="renewalDuration" (change)="renewalAmount(renewalDuration)" class="form-control">
                                    <option [ngValue]="selected">Select Renewal Duration</option>
                                    <option *ngFor="let rd of learnerRenewalDurationYears;" value="{{rd.year}}">{{rd.year}} years</option>
                                </select>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">Submit To:</label></div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <select class="form-control" [(ngModel)]="jusris_type_and_id">
                                    <option [ngValue]="selected">Select Submit To</option>
                                    <option value="1-{{region.region_id}}" *ngFor="let region of regionResponse;">
                                        {{region.region_name}}
                                    </option>
                                    <option value="2-{{base.base_office_id}}" *ngFor="let base of baseResponse;">
                                        {{base.base_office_name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card col-lg-4">
                <div class="card-header card-header-primary p-1">
                    <h4 class="card-title"><i class="material-icons mr-1">directions_car</i>Payment Details</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="places-buttons">
                        <div class="ml-auto row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>
                                                    Sl#
                                                </th>
                                                <th>
                                                    Order Details
                                                </th>
                                                <th>
                                                    Amount
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    Amount
                                                </td>
                                                <td class="text-primary">
                                                    Nu. {{amount}}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>

                                                </td>
                                                <td>
                                                    <b>Total Amount</b>
                                                </td>
                                                <td class="text-primary">
                                                    <b>Nu. {{totalAmount}}</b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <button mat-raised-button
                                    (click)="makePayment('Learner License Renewal')"
                                    class="btn btn-primary btn-block">Make
                                    Payment</button>
                                <p id="warning"></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        <!-- learner license replacement form form -->
        <div class="row" *ngIf="showLearnerLicenseReplacement">
            <div class="card col-lg-7 mr-auto">
                <div class="card-header card-header-primary p-1">
                    <h4 class="card-title"><i class="material-icons mr-1">directions_car</i>Learner License Details</h4>
                </div>
                <div class="col-md-12">
                    <div class="places-buttons">

                        <div class="mb-3 ml-auto row">
                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">License Number:</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <label class="text-dark">{{learnerLicenseNumber}}</label>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">Customer Name:</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <label class="text-dark">  {{firstName}} {{middleName}} {{lastName}} </label>
                            </div>
                        </div>

                        <div class="mb-3 ml-auto row">
                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">Expiry Date:</label></div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <label class="text-dark">{{expiryDate}}</label>
                            </div>
                        </div>

                        <div class="mb-3 ml-auto row">
                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">Submit To:</label></div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <select class="form-control" [(ngModel)]="rstaUserSelectedLocation">
                                    <option [ngValue]="selected">Select Submit To</option>
                                    <option value="1-{{region.region_id}}" *ngFor="let region of regionResponse;">
                                        {{region.region_name}}
                                    </option>
                                    <option value="2-{{base.base_office_id}}" *ngFor="let base of baseResponse;">
                                        {{base.base_office_name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card col-lg-4">
                <div class="card-header card-header-primary p-1">
                    <h4 class="card-title"><i class="material-icons mr-1">directions_car</i>Payment Details</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="places-buttons">
                        <div class="ml-auto row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>
                                                    Sl#
                                                </th>
                                                <th>
                                                    Details
                                                </th>
                                                <th>
                                                    Amount
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    Amount
                                                </td>
                                                <td class="text-primary">
                                                    Nu. {{amount}}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>

                                                </td>
                                                <td>
                                                    <b>Total Amount</b>
                                                </td>
                                                <td class="text-primary">
                                                    <b>Nu. {{totalAmount}}</b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <button mat-raised-button
                                    (click)="makePayment(rstaUserSelectedLocation,userSelectedRenewalDuration)"
                                    class="btn btn-primary btn-block">Make
                                    Payment</button>
                                <p id="warning"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>