<div class="content">
    <div class="container-fluid">
        <div class="card mb-0">
            <div class="card-header card-header-primary">
                <h3 class="card-title"><i class="material-icons mr-1">directions_car</i>{{serviceTitle}}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                </div>
            </div>
            <div class="col-md-12">
                <div class="places-buttons">
                    <form [formGroup]="searchForm" (ngSubmit)="searchDetails(vehicleTypeUser,vehicleNumber)">
                        <div class="ml-auto row">
                            <div class="col-lg-2 offset-lg-2"><label class="text-dark">Vehicle Number</label></div>
                            <div class="col-lg-4 ">
                                <div class="form-group bmd-form-group">
                                    <!-- <label class="bmd-label-floating">Eg. BP-1-A1234</label> -->
                                    <input formControlName="vehicleNumber" [(ngModel)]="vehicleNumber"
                                        placeholder="Eg. BP-1-A1234" type="text" class="form-control">
                                    <p id="warning"
                                        *ngIf="isSearchSubmitted && errorControl.vehicleTypeUser.errors?.required">
                                        Vehicle number is required
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-1">
                                <button class="btn btn-primary btn-tips"
                                    onclick="md.showNotification('bottom','right')">?
                                    <div class="ripple-container"></div></button>
                            </div>
                        </div>
                        <div class="ml-auto row">
                            <div class="col-lg-2 offset-lg-2"><label class="text-dark">Vehicle Type</label></div>
                            <div class="col-lg-4 text-center">
                                <div class="form-group bmd-form-group">
                                    <select formControlName="vehicleTypeUser" [(ngModel)]="vehicleTypeUser"
                                        class="form-control">
                                        <option [ngValue]="selected">Select vehicle Type </option>
                                        <option *ngFor="let v of vehicleType;" value="{{v.vehicle_Type_Id}}">
                                            {{v.vehicle_Type_Name}}</option>
                                    </select>
                                    <p id="warning"
                                        *ngIf="isSearchSubmitted && errorControl.vehicleNumber.errors?.required">
                                        Vehicle type is required
                                    </p>
                                </div>
                            </div>


                            <div class="col-lg-1">
                                <button class="btn btn-primary btn-tips">?
                                    <div class="ripple-container"></div></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-sm-7 offset-3 offset-lg-4">
                                <button class="btn btn-block btn-primary" type="submit">Search<div
                                        class="ripple-container"></div>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Vehicle renewal form -->
        <div class="row" *ngIf="showVehicleRenewalForm">
            <div class="card col-lg-7 mr-auto">
                <div class="card-header card-header-primary p-1">
                    <h4 class="card-title"><i class="material-icons mr-1">directions_car</i>Vehicle Details</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="places-buttons">

                        <div class="mb-3 ml-auto row">
                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">Customer Name:</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <label class="text-dark"> {{firstName}} {{middleName}} {{lastname}}</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">Expiry Date:</label></div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <label class="text-dark">{{expiryDate | date}}</label>
                            </div>
                        </div>

                        <div class="mb-3 ml-auto row">

                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">Renewal Duration:</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <select [(ngModel)]="userSelectedRenewalDuration" class="form-control">
                                    <option [ngValue]="selected">Select Renewal Duration</option>
                                    <option *ngFor="let vr of renewaaldetails;" value="{{vr.renewal_Duration_Month}}">
                                        {{vr.renewal_Duration_Desc}}</option>
                                </select>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">Submit To:</label></div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <select class="form-control" [(ngModel)]="rstaUserSelectedLocation">
                                    <option [ngValue]="selected">Select Submit To</option>
                                    <option value="1_{{rlocation.region_id}}"
                                        *ngFor="let rlocation of rstaregionlocation;">{{rlocation.region_name}}
                                    </option>
                                    <option value="2_{{location.base_office_id}}"
                                        *ngFor="let location of rstabaseLocation;">{{location.base_office_name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card col-lg-4">
                <div class="card-header card-header-primary p-1">
                    <h4 class="card-title"><i class="material-icons mr-1">directions_car</i>Payment Details</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="places-buttons">
                        <div class="ml-auto row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>
                                                    Sl#
                                                </th>
                                                <th>
                                                    Order Details
                                                </th>
                                                <th>
                                                    Amount
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                   Replacement Amount
                                                </td>
                                                <td class="text-primary">
                                                    Nu. {{amount}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    Penalty
                                                </td>
                                                <td class="text-primary">
                                                    Nu. {{penaltyAmount}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>

                                                </td>
                                                <td>
                                                    <b>Total Amount</b>
                                                </td>
                                                <td class="text-primary">
                                                    <b>Nu. {{totalAmount}}</b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <button mat-raised-button
                                    (click)="makePayment(rstaUserSelectedLocation,userSelectedRenewalDuration)"
                                    class="btn btn-primary btn-block">Make
                                    Payment</button>
                                <p id="warning">{{msg}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

         <!-- Vehicle replacement form form -->
        <div class="row" *ngIf="showVehicleReplacementForm">
            <div class="card col-lg-7 mr-auto">
                <div class="card-header card-header-primary p-1">
                    <h4 class="card-title"><i class="material-icons mr-1">directions_car</i>Owner Details</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="places-buttons">

                        <div class="mb-3 ml-auto row">
                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">Owner Type:</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <label class="text-dark"> {{vehicleRregistrationType}}</label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">Owner Name:</label></div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <label class="text-dark">{{firstName}} {{middleName}} {{lastname}}</label>
                            </div>
                        </div>

                        <div class="mb-3 ml-auto row">
                            <div class="col-lg-3 col-md-3 col-sm-6"><label class="text-dark">Submit To:</label></div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <select class="form-control" [(ngModel)]="rstaUserSelectedLocation">
                                    <option [ngValue]="selected">Select Submit To</option>
                                    <option value="1_{{rlocation.region_id}}"
                                        *ngFor="let rlocation of rstaregionlocation;">{{rlocation.region_name}}
                                    </option>
                                    <option value="2_{{location.base_office_id}}"
                                        *ngFor="let location of rstabaseLocation;">{{location.base_office_name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="card col-lg-4">
                <div class="card-header card-header-primary p-1">
                    <h4 class="card-title"><i class="material-icons mr-1">directions_car</i>Payment Details</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="places-buttons">
                        <div class="ml-auto row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>
                                                    Sl#
                                                </th>
                                                <th>
                                                    Order Details
                                                </th>
                                                <th>
                                                    Amount
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    RC Replacement
                                                </td>
                                                <td class="text-primary">
                                                    Nu. {{rcAmount}}
                                                </td>
                                            </tr>
                                           
                                            <tr>
                                                <td>

                                                </td>
                                                <td>
                                                    <b>Total Amount</b>
                                                </td>
                                                <td class="text-primary">
                                                    <b>Nu. {{rcAmount}}</b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <button mat-raised-button
                                    (click)="makePayment(rstaUserSelectedLocation,userSelectedRenewalDuration)"
                                    class="btn btn-primary btn-block">Make
                                    Payment</button>
                                <p id="warning">{{msg}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>